<%= flash[:alert] %>


<% @questions.each do |question| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <h3><%= question.content %></h3>
      <%= time_ago_in_words(question.created_at) %> ago 
    
      <% if can? :update, question %>
        <%= link_to 'Edit', edit_question_path(question) %>
      <% end %>
      <% if can? :update, question %>
        <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>     
    
      </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-lg-6">
        <% if question.answers.any? %>
          <%= render question.answers %>
        <% end %> 
          <div class="input-group">
            <%= form_for([question, question.answers.build]) do |f| %>
              <%= f.text_area :content, placeholder: "添加回答..."%>
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit_tag">Add Answer</button>
              </span>
            <% end %>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
<% end %>
<%= paginate @questions %>
